
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}






input[type="number"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}


button {
  width: 60%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #74ebd5;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ACB6E5;
}


#msg {
  color: red;
  margin-top: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

th {
  background-color: #74ebd5;
  color: #fff;
}



button + button {
  margin-top: 10px; 
}

.header {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  padding: 15px 20px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center; 
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  z-index: 1000;
}

.school-title {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  text-align: center;  
}



